/* .banner{
  width: 100%;
} */
.banner>img{
  width: 100%;
}
.grid1 {
  display: grid;
  /* margin: 0 auto; */
  /* padding: 10px; */
  grid-gap:10px;
  grid-template-columns:minmax(100px,400px) auto;
  /* justify-items: center; */
  /* grid-template-rows: 100px 200px; */
  /* background-color: lightblue; */
  /* justify-items: center; */
  /* align-items: center; */
  /* place-content: start space-between; */
  /* place-items: end center; */

}
/* .grid1>div{
  background-color: khaki;
  width: 100px;
  height: 50px;
} */

.m1{
  padding: 20px;
}
.font{
  padding: 20px;
}
.m2{
  width: 100%;
  background-color: #8DC11F;
}